<!DOCTYPE html>
<html>
<head>
  <title>Wind Up Pixel</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="http://www.winduppixel.com/app/assets/images/favicon.gif" />
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>
<div id="wrap" class="wrap">
	<header id="header" class="">
		<div id="top-box" class="top-box">
			<div id="flash-box" class="flash-box">
				<% flash.each do |key, value| %>
					<div id='<%= key %>' class="flash">
						<%= value %>
					</div><!-- /<%= key %> -->
				<% end %>
			</div><!-- /flash-box -->
		</div><!-- /top-box -->

		<div id="wup-name" class="wup-name">
			<%= link_to image_tag("wup-name.png", :size => "744x110"), '/' %>
		</div><!-- /wup-name -->	
		<div id="above-nav-wrap" class="above-nav-wrap">
			<%= image_tag "web-strategy.png",:size => "220x23", :alt => "Web Strategy", :class => "web-strategy" %>
		</div><!-- /above-nav-wrap -->
		<nav>	
			<div id="nav-wrap" class="nav-wrap">
				<%= yield :navigation %>
			</div><!-- /nav-wrap -->
			
		</nav>

		
	</header><!-- /header -->

		<section id="main" class="">
			<aside id="page-image">
			<% if content_for? :page_image %>
				<%= yield :page_image %>
			<% else %>
				<%= image_tag 'wup-bot.png' %>
			<% end %>
			</aside>
			<div id="content">
				<%= yield %>
			</div>
			
	</section><!-- /main -->
	<div style="clear:both"></div>
	<footer>
	<div>
		<span class="first">WIND UP PIXEL &#169; 2012</span><span>PH: 312.554.5095</span><span class="last">E: <a href="mailto:info@winduppixel.com">CONTACT@WINDUPPIXEL.COM</a></span>
	</div>
</footer>
</div><!-- /wrap -->
</body>
</html>
