<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Wind Up Pixel</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "screen", :media => "screen" %>
  <%= stylesheet_link_tag "mobile", :media => "only screen and (max-device-width: 550px)" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="favicon.gif">
  	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>
<div id="wrap" class="wrap">
	<header id="header" class="">
		<div id="top-box" class="top-box">
			<div id="flash-box" class="flash-box">
				<% flash.each do |key, value| %>
					<div id='<%= key %>' class="flash">
						<%= value %>
					</div><!-- /<%= key %> -->
				<% end %>
			</div><!-- /flash-box -->
		</div><!-- /top-box -->

		<div id="wup-name" class="wup-name">
		<div id="logo">
<%= link_to image_tag("logo.png", :size => "121x103"), '/' %>

	</div>
		<a href="/">WIND UP PIXEL</a>
		</div><!-- /wup-name -->	

		<nav>	
				<div class="web-strategy">
			<a href="/">WEB STRATEGY</a>
		</div>
			<div id="nav-wrap" class="nav-wrap">
				<%= yield :navigation %>
			</div><!-- /nav-wrap -->
			
		</nav>

		
	</header><!-- /header -->

		<section id="main" class="">

			<div id="content">
			<aside id="page-image">
			<% if content_for? :page_image %>
				<%= yield :page_image %>
			<% else %>
				<%= image_tag 'wup-bot.png' %>
			<% end %>
			</aside>
				<%= yield %>
			</div>
			
	</section><!-- /main -->
	<div style="clear:both"></div>
	<footer>
		<div >
			<span class="first">WIND UP PIXEL &#169; 2012</span><span>PH: 312.554.5095</span><span class="last">E: <a href="mailto:info@winduppixel.com">CONTACT@WINDUPPIXEL.COM</a></span>
		</div>
	</footer>
</div><!-- /wrap -->
</body>
</html>
